
.emphasized {
          font-size: 0.9em;
      }



pre {
      width: 100%; /* 106%; */
        left: 0; /* -60px; */
          padding: 1px 1px 1px 1px; /* 10px 0 10px 60px; */
      } 

.MathJax {
    font-size: 0.5em;
}

.reveal .sourceCode.r .kw, .sourceCode.r .er {
  color:inherit;
  font-weight: normal;
}
.reveal .sourceCode.r .co {
  font-style: normal;
}

.reveal .slides {
  text-align: inherit;
}

.reveal .slide.level2 h1 {
  font-size: 48px;
}

.reveal pre code {
  font-size: 20px;
  line-height: 1.3;
}
